@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image1{
    /* background: url('../src/assets/header_1.webp'); */
    background: url('../src/assets/rowstandingbooks.png');
    /* height: 100vh; */
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image2{
    background: url('../src/assets/header_4.png');
    /* height: 100vh; */
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image3{
    /* background: url('../src/assets/header_2.webp'); */
    background: url('../src/assets/woman_reading_pic.png');
    /* height: 100vh; */
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image4{
    background: url('../src/assets/woman\ book\ lake.webp');
    /* height: 100vh; */
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image5{
    background: url('../src/assets/header_3.webp');
    /* height: 100vh; */
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .visible {
    visibility: visible;
  }